<html>
  <head>
    <title>YNAB CSV concerter</title>
  </head>
  <body>
    <h1>Upload CSV</h1>

    <form action="/convert" method="POST" enctype="multipart/form-data" id="form">
      <input type="file" name="file" id="input">
      <input type="submit" value="Upload" id="button">
    </form>

    <script type="text/javascript" charset="utf-8">
      document.getElementById("button").style.display = "none"
      document.getElementById("input").addEventListener("change", function (e) {
        document.getElementById("form").submit();
      }, false);
    </script>
  </body>
</html>
