<html>
  <head>
    <title>YNAB CSV concerter</title>
    <style type="text/css" media="all">
      * {
        box-sizing: border-box;
      }

      body {
        font-size: 18px;
        font-family: monospace;
      }

      .title {
        margin: 0 0 1em;
        font-size: 1.3em;
      }

      .upload-form {
        text-align: center;
        width: 80%;
        height: 90%;
        margin: 0 auto;
        padding: 2em;
      }

      .file-input {
        font-size: 1em;
        border: 2px dotted #DDD;
        background: #EEE;
        padding: 1em;
        height: 100%;
        width: 100%;
        border-radius: 0.3em;
      }
    </style>
  </head>
  <body>

    <form class="upload-form" action="/convert" method="POST" enctype="multipart/form-data" id="form">
      <h1 class="title">Upload CSV</h1>
      <input type="file" name="file" id="input" class="file-input">
      <input type="submit" value="Upload" id="button">
    </form>

    <script type="text/javascript" charset="utf-8">
      document.getElementById("button").style.display = "none"
      document.getElementById("input").addEventListener("change", function (e) {
        document.getElementById("form").submit();
      }, false);
    </script>
  </body>
</html>
